<div class="content">
	<h1>Add Log Record</h1>
	<hr>
	<div class="row">
		<div class="col-md-8">
			<%= render partial: "log_records/form", locals: { log_record: @logrecord } %>
		</div>
	</div>
</div>